<%= render 'shared/errors' if @errors%>
<div class='small-12 columns'>
  <h1>Museumist Museums</h1>
</div>

<div class='small-12 columns'>
  <h4>Add a Museum</h4>
  <%= render 'form' %>
</div>

<div class='row'>
  <div class='small-6 columns'>
    <% if @museums %>
      <table>
        <thead>
          <tr>
            <th>Museums</th>
          </tr>
        </thead>
        <tbody>
            <% @museums.each do |museum| %>
            <tr>
              <td><%= museum.name %></td>
              <td><%= link_to 'Show', museum_path(museum) %></td>
              <td><%= link_to 'Edit', edit_admin_museum_path(museum) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
