<%= render 'shared/errors' if @errors%>
<div class='small-12 columns'>
  <h1>Museumist Genres</h1>
</div>

<div class='small-12 columns'>
  <h4>Add a Genre</h4>
  <div class="small-8 columns">
  <%= render 'form'%>
</div>
</div>

<div class='row'>
  <div class="genres-table">
  <div class='small-6 columns'>
    <% if @genres %>
      <table>
        <thead>
          <tr>
            <th class="genre-heading">Genres</th> 
          </tr>
        </thead>
        <tbody>
            <% @genres.each do |genre| %>
            <tr>
              <td class="genre-name"><%= genre.name %></td>
              <td><%= link_to 'Show', genre_path(genre) %></td>
              <td><%= link_to 'Edit', edit_admin_genre_path(genre) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
</div>
